
/* $btnColor:  rgb(124, 145, 238);
$btnTextColor: white;
$background: rgb(221, 172, 38);
$heightOfBox: 47vh;
$paddingInBoxes:none;
$centerTextInBoxes:center;
$borderLineBoxes:groove ;
$displayBoxes:flex;
$JustifyBoxItem:center;
$alignBoxItem:center;
$marginInput: 1rem; */