
 /* Button */
 $btnColor:  rgb(124, 145, 238);
$btnTextColor: white;

/* Style of boxes */


$background: rgb(221, 172, 38);
$heightOfBox: 47vh;
$paddingInBoxes:none;
$borderLineBoxes:groove ;

$marginInput: 1rem; 