header
{
    padding: none;
   background-color: rgb(18, 117, 163);
}

h1
{
 
 text-align: center;

 justify-items: center;   

}






 

/* Imports the variables from the other scss file */
@import "./variables";



/* Mixin for the boxes */

@mixin flexcenter($direction) 
{
    display: flex;
    justify-content: center;
    align-items: center;  
    
    flex-direction: $direction;
}





/* The boxes withe styling, that call the varuables above */
.box1 
{
    

    @include flexcenter(column);

    
    border-style: $borderLineBoxes;
    height:$heightOfBox ;
    background-color: $background;
    
    

   

    


}

.box2 

{
    
    @include flexcenter(column);

    padding:$paddingInBoxes ;
    border-style: $borderLineBoxes;
    
    height:$heightOfBox ;
    background-color: $background;

    input 
        {
         margin: $marginInput ;   
        }

    button
    {
        
    background-color: $btnColor;
    color: $btnTextColor ;
    &:hover{
        background:  rgb(43, 226, 180);
    }
    }
}

.box3 
{
    @include flexcenter(column);


    padding:$paddingInBoxes;
    border-style: $borderLineBoxes;
    
    height:$heightOfBox ;
    background-color: $background;

    input 
        {
         margin: $marginInput ;   
        }
    
    button
    {
    background-color: $btnColor;
    color: $btnTextColor ;
    &:hover{
        background: rgb(43, 226, 180);
    }
    }
}

.box4 

{
    @include flexcenter(column);
    border-style: $borderLineBoxes;
    
    height:$heightOfBox ;
    background-color: $background;

    input 
        {
         margin: $marginInput ;   
        }

    button
    {
        
        background-color: $btnColor;
        color: $btnTextColor ;
        &:hover
        {
        
            background:  rgb(43, 226, 180);
        }
    }
}
